<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digimarc.dmsdemo"
    android:versionCode="1"
    android:versionName="__VERSION_STRING_SHORT__">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.digimarc.dmsdemo.MainActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.digimarc.dmsdemo.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.digimarc.dmsdemo.PreferenceActivity"
            android:screenOrientation="user"
            android:theme="@style/AppTheme" >
        </activity>

        <meta-data
            android:name="com.digimarc.LicenseKey"
            android:value="@string/license_key"/>
    </application>

</manifest>
